.App {
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(5, 10, 64, 1) 0%,
    rgb(234, 238, 241) 50%
  );
}

.container {
  padding-top: 100px;
}
.userListCard {
  width: 22rem;
}
.detailCard {
  width: 22rem;
}
.cardBody {
  line-height: 2rem;
}
.userRow:hover {
  background-color: lightgray;
  cursor: pointer;
}
